<%- include("./Components/header.ejs") %>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="logo">
        <h1>EMITRA WALA.IN</h1>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Latest Jobs</a></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Admit Card</a></li>
        </ul>
      </nav>
    </header>

    <!-- highlights -->

    <section class="highlights">
      <marquee>my marquee head line</marquee>
      <div class="buttons">
        <button class="bg-blue">Latest</button>
        <button class="bg-jasper">Banners</button>
        <button class="bg-green">News</button>
        <button class="bg-yellow">Updates</button>

        <div class="search">
          <input placeholder="search in emitrawala" />
          <img
            src="https://static-00.iconduck.com/assets.00/search-icon-2044x2048-psdrpqwp.png"
            alt="Form Icon"
          />
        </div>
      </div>
    </section>

    <div class="forms-and-quick-access">
      <section class="form-section">
        <h2>Emitra / Govt Related Forms</h2>
        <div class="forms">
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines"> मूल निवास प्रमाण पत्र</p>
                <p class="clamp-1-lines">Bonafied Certificate Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a  href="/BonafiedCertificateForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="BonafiedCertificateForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <!-- Add more form cards as necessary -->

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">विवाह प्रमाण आवेदन व शपथ पत्र </p>
                <p class="clamp-1-lines">Marriage Certificate Application Form And Affedevit</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/MarriageCertificatecompleteform" class="fill-form" target="_blank">Fill Form</a>
              <a href="MarriageCertificatecompleteform.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">EPFO15GForm</p>
                <p class="clamp-1-lines">EPFO15G Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/EPFO15GForm" class="fill-form">Fill Form</a>
              <a href="EPFO15GForm.pdf" class="download">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">आय प्रमाण पत्र के लिए पृष्ठ प्रारूप</p>
                <p class="clamp-1-lines">Income Certificate For PageFormat</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/IncomeCertificate4PageFormat" class="fill-form" target="_blank">Fill Form</a>
              <a href="IncomeCertificate4PageFormat.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">सामान्य जाति फॉर्म</p>
                <p class="clamp-1-lines">General Caste Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/generalCasteForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="GeneralCasteForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>
          
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">प्रयोगशाला</p>
                <p class="clamp-1-lines">lab</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/lab" class="fill-form" target="_blank">Fill Form</a>
              <a href="lab.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">ओबीसी राज्य केंद्र जाति प्रमाण पत्र फॉर्म</p>
                <p class="clamp-1-lines">OBC STATE CENTER Caste Certificate Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/OBCSTATECENTERCasteCertificateForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="OBCSTATECENTERCasteCertificateForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">आरजीएचएस कार्ड सीमा फॉर्म</p>
                <p class="clamp-1-lines">RGHS CARD Limit Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/RGHSCARDLimitForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="RGHSCARDLimitForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">एससी एसटी जाति राज्य केंद्र प्रमाण पत्र फॉर्म</p>
                <p class="clamp-1-lines">SC/ST Caste STATE CENTER Certificate Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/RGHSCARDLimitForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="RGHSCARDLimitForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

        </div>

        <a href="/viewAllForms">View All</a>
      </section>

      <section>
        <div class="quick-access">
          <h2>Quick Access</h2>
          <div class="quick-links">
            <div class="link-card">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="District Wise Summary"
              />
              <a class="clamp-2-lines" href="#"
                >District Wise Summary Report...</a
              >
            </div>
            <div class="link-card">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="COVID-19 Ex-gratia Payment"
              />
              <a class="clamp-2-lines" href="#">COVID-19 Ex-gratia Payment</a>
            </div>
            <div class="link-card">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="MGNREGA Worker Information"
              />
              <a class="clamp-2-lines" href="#">MGNREGA Worker Information</a>
            </div>
            <div class="link-card">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Ration Cardholder Info"
              />
              <a class="clamp-2-lines" href="#"
                >Know About Ration Cardholder in your...</a
              >
            </div>
            <div class="link-card">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Ayushman Arogya Info"
              />
              <a class="clamp-2-lines" href="#"
                >Mukhyamantri Ayushman Arogya...</a
              >
            </div>
          </div>
          <div class="view-more">
            <a class="text-align:center;margin:auto" href="/quickAccess"
              >View All</a
            >
          </div>
        </div>
      </section>
    </div>

    <section class="services">
      <h2>Our Services</h2>
      <div class="service-logos">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6m91tLqWfxv7mJdWkQlVMwJgvrxZuIpV3yg&s"
          alt="Amazon"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6m91tLqWfxv7mJdWkQlVMwJgvrxZuIpV3yg&s"
          alt="Service 2"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6m91tLqWfxv7mJdWkQlVMwJgvrxZuIpV3yg&s"
          alt="Service 3"
        />
        <!-- Add more logos as necessary -->
      </div>
    </section>

    
    <%- include("./Components/footer.ejs") %>