<%- include("./Components/header.ejs") %>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="logo">
        <h1>EMITRA WALA.IN</h1>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Latest Jobs</a></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Admit Card</a></li>
        </ul>
      </nav>
    </header>

    <div class="forms-and-quick-access">
      <section class="form-section">
        <h2>Emitra / Govt Related Forms</h2>
        <div class="forms">
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines"> मूल निवास प्रमाण पत्र</p>
                <p class="clamp-1-lines">Bonafied Certificate Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/BonafiedCertificateForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="BonafiedCertificateForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <!-- Add more form cards as necessary -->

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">विवाह प्रमाण आवेदन व शपथ पत्र </p>
                <p class="clamp-1-lines">Marriage Certificate Application Form And Affedevit</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/MarriageCertificatecompleteform" class="fill-form" target="_blank">Fill Form</a>
              <a href="MarriageCertificatecompleteform.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">EPFO15GForm</p>
                <p class="clamp-1-lines">EPFO15G Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/EPFO15GForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="EPFO15GForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">आधार ऑनलाइन पता सुधार फॉर्म</p>
                <p class="clamp-1-lines">Aadhar Online Address Correction Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/AadharOnlineAddressCorrectionForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="AadharOnlineAddressCorrectionForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">छात्र के लिए शपथ पत्र</p>
                <p class="clamp-1-lines">Affidavit for a Scholar</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/affedeivtforascholar" class="fill-form" target="_blank">Fill Form</a>
              <a href="affedeivtforascholar.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">परिशिष्ट</p>
                <p class="clamp-1-lines">ANNEXURE</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/ANNEXURE" class="fill-form" target="_blank">Fill Form</a>
              <a href="ANNEXURE.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">आय प्रमाण पत्र के लिए पृष्ठ प्रारूप</p>
                <p class="clamp-1-lines">Income Certificate For PageFormat</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/IncomeCertificate4PageFormat" class="fill-form" target="_blank">Fill Form</a>
              <a href="IncomeCertificate4PageFormat.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">सामान्य जाति फॉर्म</p>
                <p class="clamp-1-lines">General Caste Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/generalCasteForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="GeneralCasteForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>
          
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">प्रयोगशाला</p>
                <p class="clamp-1-lines">lab</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/lab" class="fill-form" target="_blank">Fill Form</a>
              <a href="lab.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">ओबीसी राज्य केंद्र जाति प्रमाण पत्र फॉर्म</p>
                <p class="clamp-1-lines">OBC STATE CENTER Caste Certificate Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/OBCSTATECENTERCasteCertificateForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="OBCSTATECENTERCasteCertificateForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">आरजीएचएस कार्ड सीमा फॉर्म</p>
                <p class="clamp-1-lines">RGHS CARD Limit Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/RGHSCARDLimitForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="RGHSCARDLimitForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">एससी एसटी जाति राज्य केंद्र प्रमाण पत्र फॉर्म</p>
                <p class="clamp-1-lines">SC/ST Caste STATE CENTER Certificate Form</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/RGHSCARDLimitForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="RGHSCARDLimitForm.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">EWS</p>
                <p class="clamp-1-lines">EWS</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/wesnewform" class="fill-form" target="_blank">Fill Form</a>
              <a href="ewsnewform.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">Berojgari</p>
                <p class="clamp-1-lines">Berojgari</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/berojgariForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="berojgariform.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>

          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">hesiyat</p>
                <p class="clamp-1-lines">hesiyat</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/hesiyat" class="fill-form" target="_blank">Fill Form</a>
              <a href="hesiyat.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>
          
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">minority</p>
                <p class="clamp-1-lines">minority</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/minorityForm" class="fill-form" target="_blank">Fill Form</a>
              <a href="minority.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>
          
          <div class="form-card">
            <div class="info-with-image">
              <img
                src="https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp"
                alt="Form Icon"
              />
              <div class="form-info">
                <p class="clamp-1-lines">palan</p>
                <p class="clamp-1-lines">palan</p>
              </div>
            </div>
            <div class="form-buttons">
              <a href="/palan" class="fill-form" target="_blank">Fill Form</a>
              <a href="palan.pdf" class="download" target="_blank">Download</a>
            </div>
          </div>


        </div>
      </section>
    </div>

    <%- include("./Components/footer.ejs") %>
